

li {
  padding-left: 10px;
}

#content {
  margin-top: 35px;
}


body {
  min-height: 100%;
  background-image: url("bar.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
}

.top-bar ul {
  background-color:#7E5158; 
  font-weight: bolder;
  height: 40px;

}

.menu-text {
  color: black;
  font-weight: 800;
  padding: 5px;
  -webkit-text-stroke: 1px white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.sticky {
  background-color:#7E5158; 
  opacity: 0.7;
  padding: 10px 10px 10px 10px; 
   
}

.beer-list > li > a{
  color:white;
  font-weight: 600;
  font-size: large;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.malt-list > li > a{
  color: white;
  font-weight: 600;
  font-size: large;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h2 {
  background-color:#7E5158;
  color: black;
  font-weight: bolder;
}

.beer-name {
  background-color:#D58A37; 
  opacity: 0.9;
  color: white;
  font-weight: 700;
  max-width: 550px;
  text-align: center;
  margin-top: 70px;
}

.beer-desc {
  background-color:#7E5158; 
  opacity: 0.9;
  color: black;
  font-weight: 700;
  font-style: italic;
  padding: 5px 5px 5px 5px;
  width: 75%;
}

.food-pairing {
  background-color:#7E5158; 
  opacity: 0.9;
  color: black;
  font-weight: 700;
  padding: 5px 5px 5px 5px;
  width: 75%;
}

.food-pairing > ul > li > a {
  color: black;
}

.beer-list, .malt-list{
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

.fa{
  margin: 4px;
  /* color:#D58A37; */
}

.sticky.is-anchored{
  position: relative;
}